---
import { glob } from "astro/loaders";
import Layout from "../../layouts/MyLayout.astro";
import BlogPost from "../trash/BlogPost.astro";

const posts = await Astro.glob("../pages/red-blog/*.md");
---

<style>
  .divider{
    height: 2px;
    background-color: var(--rose);
  }
</style>

<Layout>
  <h1>Red blog</h1>
  <div class="divider"/>
  {
    posts.map((post) => (
      <BlogPost
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        pubDate={post.frontmatter.pubDate}
        href={post.url}
      />
  <div class="divider"/>

    ))
  }
</Layout>
