---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Split from "../components/Split.astro";
import Regular from "../components/Regular.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<body>
    <a href="/">Home </a>
    <a href="/about/">About </a>
    <a href="/blog/">Blog</a>

    <h1>About me</h1>
    <h2>First try to an astro site</h2>

    <p>Effort to understand Astro before I get too crazy with it.</p>
    <p>I think using chat gpt is making my learning curve tricker.</p>
</body>
