---
import MyLayout from "../layouts/MyLayout.astro"
---

<MyLayout>
    <h1>About me</h1>
    <h2>First try to an astro site</h2>

    <p>Effort to understand Astro before I get too crazy with it.</p>
    <p>I think using chat gpt is making my learning curve tricker.</p>


</MyLayout>
