---
import Layout from "../layouts/MyLayout.astro";
import piglettank from "../assets/piglettank.png";
import { Image } from "astro:assets";

const greetings = [
  "Ça va",
  "Hola",
  "Shalom",
  "押忍!",
  "Tjenixen!",
  "Howdy!",
  "Moin moin",
  "Привіт",
];
const index = Math.floor(Math.random() * greetings.length);
const greeting = greetings.at(index);
---

<Layout>
  <style>
    .container {
      display: flex;
      height: 70vh;
      align-items: center;
      align-self: center;
      justify-content: center;
      gap: 40px;
      width: 100%;
    }

    .text {
      flex: 1;
      max-width: 540px;
      color: var(--myWhite);
    }
    .image {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  </style>

  <div class="container">
    <Image src={piglettank} alt="Me about to smash" class="image" />
    <div class="text">
      <h1>🍠 {greeting}</h1>
      <p>
        Welcome to the swine domain. Enjoy my collection of shits 💩
      </p>
    </div>
  </div>
</Layout>
