---
import Layout from "../layouts/MyLayout.astro";
import Card from "../components/Card.astro";
import ff_logo from "../assets/ff_logo.png";
import ff_game_gif from "../assets/ff_game_gif.gif";
import flubbermonkeys_logo from "../assets/flubbermonkeys_logo.png";
import flubbermonkeys_gif from "../assets/flubbermonkeys_gif.gif";
---

<style>
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--myWhite);
    opacity: 15%;
  }
</style>

<Layout>
  <h1 style="margin-left: 8px;">Projects</h1>
  <Card
    image={flubbermonkeys_logo}
    gif={flubbermonkeys_gif}
    title="Flubbermonkeys"
    description="Short co-op adventure with two stretchy and bouncy monkeys. Available on Itch."
    link="https://flubbermonkeys.itch.io/game"
    imageAlt="Flubbermonkeys"
    gifAlt="Flubbermonkeys Game Preview"
    tags={["Unity"]}
  />
  <!-- <div class="divider" style="margin: 8px; "></div> -->

  <Card
    image={ff_logo}
    gif={ff_game_gif}
    title="Frilans Flame"
    description="Dinorun but with Frilans Finans flare. Play in browser."
    link="https://frilans-flame.netlify.app"
    imageAlt="Frilans Flame Logo"
    gifAlt="Frilans Flame Game Preview"
    tags={["Flutter", "Flame"]}
  />
</Layout>
