---
import piglettank from "../assets/piglettank.png";
import ff_logo from "../assets/ff_logo.png";
import ff_game_gif from "../assets/ff_game_gif.gif";
import { Image } from "astro:assets";

const glow = "#AF4f41";
const charcoal = "#273248";
const rose = "#9B6A6C";
const myWhite = "#FFEBD2";
---

<html>
  <head>
    <style define:vars={{ glow, charcoal, rose, myWhite }}>
      .colors {
        glow: #af4f41;
        charcoal: #273248;
        rose: #9b6a6c;
      }
      .portrait {
        height: 120px;
        width: 120px;
        border-radius: 16px;
      }
      .body {
        margin: 20px 20px auto;
        max-width: 1080px;
        font-family: Verdana;
        background-color: var(--charcoal);
        color: var(--myWhite);
      }
      .column {
        justify-content: baseline;
        text-align: left;
      }
      .card {
        width: 100%;
        height: 100px;
        border-radius: 16px;
        border: solid var(--glow);
        border-width: 1px;
        color: var(--myWhite);
        padding: 12px;
        display: flex;
        text-decoration: none;
        align-items: center;
        cursor: pointer;
      }
      .card:hover {
        height: 100px;
        padding: 10px;
        border: solid var(--glow);
        border-width: 3px;
      }

      .cardPreview {
        height: 100%;
        width: 100px;
        position: relative;
      }
      .cardPreviewImage {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: opacity 0.3s ease;
        position: absolute;
      }
      .cardPreviewImage:hover {
        opacity: 0;
      }
      .cardPreviewGif {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        position: absolute;
        z-index: -1;
      }

      h1 {
        font-size: 2em;
      }
    </style>
  </head>
  <body class="body">
    <div style="display: block;">
      <Image src={piglettank} alt="is me babieee" class="portrait" />
      <h1 style="display: inline;">Piglettank</h1>
    </div>
    <a class="card" href="https://frilans-flame.netlify.app/" target="_blank">
      <div class="cardPreview">
        <Image
          src={ff_logo}
          alt="frilans finans logo"
          class="cardPreviewImage"
        />
        <Image
          src={ff_game_gif}
          alt="frilans finans logo"
          class="cardPreviewGif"
        />
      </div>
      <div style="width: 16px;"></div>
      <div>
        <h3 style="margin: 0;">Frilans Flame</h3>
        <p style="margin-top: 8px; margin-bottom: 0;">
          Dinorun but with Frilans Finans stank
        </p>
      </div>
    </a>
  </body>
</html>
