---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  alt: string;
  link: string;
}

const { image, alt, link } = Astro.props;
---

<style>
  .style {
    border-radius: 4px;
    border: 1px solid var(--gentleOutline);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .style:hover {
    background-color: var(--hoverOverlay);
  }
</style>

<a href={link} target="_blank" style="style">
  <div class="style">
    <Image src={image} alt={alt} width={28} height={28} />
  </div>
</a>
