---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  alt: string;
  link: string;
  class?: string;
}

const { image, alt, link, class: className } = Astro.props;

const r = Math.floor(Math.random() * 10);
const rotation = r;
---

<style define:vars={{ rotation: `${rotation}deg` }}>
  .link-wrapper {
    display: inline-block;
    transform: rotate(var(--rotation));
    transition: all 0.3s ease;
  }

  .style {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    border: 2.5px solid var(--rose);
    padding: 12px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
    position: relative;
    filter: url(#sketchy);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-wrapper:hover {
    transform: rotate(-3deg) scale(1.15);
  }

  .link-wrapper:hover .style {
    background-color: var(--hoverOverlay);
    border-color: var(--glow);
    border-radius: 55% 45% 48% 52% / 52% 58% 42% 48%;
  }
</style>

<svg style="position: absolute; width: 0; height: 0;">
  <filter id="sketchy">
    <feTurbulence
      type="fractalNoise"
      baseFrequency="0.05"
      numOctaves="3"
      result="noise"
      seed="2"></feTurbulence>
    <feDisplacementMap
      in="SourceGraphic"
      in2="noise"
      scale="3"
      xChannelSelector="R"
      yChannelSelector="G"></feDisplacementMap>
  </filter>
</svg>

<div class={`${className || ""}`}>
  <a href={link} target="_blank" class={`link-wrapper`}>
    <div class="style">
      <Image src={image} alt={alt} width={28} height={28} />
    </div>
  </a>
</div>
