---
import starry_sky from "../assets/sky.jpg";
import Header from "../components/Header.astro";

const backgroundUrl = starry_sky.src;
// jeremy-bishop-G9i_plbfDgk-unsplash
---

<html lang="en">
  <head>
    <meta charset=utf-8>
    <style>
      :root {
        --glow: #e98a7b;
        --charcoal: #181316;
        --rose: #9b6a6c;
        --myWhite: #ffebd2;
        }
      body {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1080px;
        font-family: Verdana;
        color: var(--myWhite);
        background-color: var(--charcoal);
        background-size: cover;
      }

      header {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 30px 30px 30px 30px;
      }

    </style>
  </head>
  <body style={`background-image: url(${backgroundUrl})  `}>
    <header>
      <Header title="HOME" link="/" />
      <Header title="PROJECTS" link="/projects/" />
      <Header title="EXPERIMENT" link="/experiment/" />
    </header>
    <slot />
  </body>
</html>
